# Data processing
numpy~=1.22.3
pandas~=1.4.2
pyarrow~=8.0.0
fastparquet~=0.8.1

# Plotting
matplotlib~=3.5.2

# Machine learning
scikit-learn~=1.0.2

# Deep learning
torch~=1.10.0
transformers~=4.18.0

# Code style
black~=22.3.0

# Unit tests
pytest~=7.1.2
